*{
    top:0;
    margin:0;
    left:0;
    font-family: 'Times New Roman', Times, serif,cursive;
}

div.header-logo{
    
    background-color: rgb(255, 81, 0);
    
}
h1{
    text-align: center;
    background-color:black;
    color:#fff;

}
div.header-ordenamiento{
    text-align: center;
    margin: auto;
    font-size: 16px;
}


nav {
    outline: 1 px solid rgb(255, 81, 0);
}

ul {
   /* outline: 1px solid blue;*/
    list-style: none;
    padding: 0%;
    margin: 0cm;
    line-height: 40px;
    text-align: center;

}
li {
    /*outline: 1px solid black;*/
    width: 100px;
    display: inline-block;
    background-color: blue;
}
a{
   /* outline: 1px solid red ;*/
    text-decoration: none;
    display: block;
    color:#fff;
    
}
 a:hover{
    background: rgb(255, 81, 0);
    color:black
}
.contenedor{
    background-color:black;  
    color:#fff;
    
  
  }
  h4{
      text-align: center;
      line-height: 60px;
      padding: 40;
     margin: auto;
  }
  h5 {
    line-height: 40px;
    padding: 20;
     margin: auto;

  }
  div.cover-description {
     width:600px;
     height: 400px;
     background: cornflowerblue;
     margin: auto;
    
    
 
  }

  section.infromation{
    width:600px;
    height: 800px;
    background:gray;
    margin: auto;
    color:#fff;
  }
  div.description {
    width:550px;
    height: 400px;
    margin: auto;
  }
    div.video{
        width:600px;
         margin: auto;
        padding-top:40px ;
        

    }
    
    h2{
        text-align: left;
      line-height: 100px;
      padding: 40;
     margin: auto;

    }
    /*pie de pagina*/
    footer.comunicacion{
     position: relative;
     margin-top: 40x;
     width: 100%;
     padding: 40px;
     clear: both;
     background: black;
     
     text-align: right;
     color:#fff
     
    }

    div.logo {
        margin: 0;
        text-align: left;
    }
    
    